# Java build klasörleri
build/
dist/
*.class

# NetBeans dosyaları
nbproject/private/

# MacOS sistem dosyaları
.DS_Store

# Geçici dosyalar
*.log

# SQLite database dosyası (eklemek istemiyorsan aç)
# *.db

